<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-signin", :html => { :style => 'text-align: center' }) do |f| %>
  <%= link_to omniauth_authorize_path('user', 'instagram') do %>
    <img class="mb-4" src="/instagram-logo.png" alt="" width="72" height="72">
    <span class="h3 mb-3 font-weight-normal" style='font-family: Billabong; font-size: 40px; color: #000'>My Instagram Pics</span>
  <% end %>
  <p style='font-family: Billabong; font-size: 20px;'>Click the icon to login</p>
<% end %>
