---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent/?access_token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 400, "error_type": "OAuthParameterException", "error_message":
        "Missing client_id or access_token URL parameter."}}'
  recorded_at: Sun, 11 Feb 2018 23:28:32 GMT
recorded_with: VCR 3.0.3
