---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent/?access_token=229766773.7de1c86.b18ce418a79a4cc0afe43ea110e6dc68
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '498'
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {}, "data": [{"id": "1705477560946021603_229766773",
        "user": {"id": "229766773", "full_name": "Diego Marino", "profile_picture":
        "https://scontent.cdninstagram.com/vp/3fb4ff2460ef2db9a8013062429b7100/5B07AA2B/t51.2885-19/11324975_921216657917245_1227372490_a.jpg",
        "username": "jagajugue"}, "images": {"thumbnail": {"width": 150, "height":
        150, "url": "https://scontent.cdninstagram.com/vp/20e49f6e594d2872d2f05a33ace35bcd/5B002720/t51.2885-15/s150x150/e35/26864925_560803437606994_8038066843908308992_n.jpg"},
        "low_resolution": {"width": 320, "height": 320, "url": "https://scontent.cdninstagram.com/vp/f8457fdd534008de748af6b49010910e/5B1D7F67/t51.2885-15/s320x320/e35/26864925_560803437606994_8038066843908308992_n.jpg"},
        "standard_resolution": {"width": 640, "height": 640, "url": "https://scontent.cdninstagram.com/vp/1c62bd91254cf509ae839d0efc5f5bca/5B0D7724/t51.2885-15/s640x640/sh0.08/e35/26864925_560803437606994_8038066843908308992_n.jpg"}},
        "created_time": "1517528790", "caption": {"id": "17897115478188599", "text":
        "Quando cearense passa frio na Europa o que \u00e9 que ele faz? Usa um ventilador
        com aquecedor pra se esquentar.", "created_time": "1517528790", "from": {"id":
        "229766773", "full_name": "Diego Marino", "profile_picture": "https://scontent.cdninstagram.com/vp/3fb4ff2460ef2db9a8013062429b7100/5B07AA2B/t51.2885-19/11324975_921216657917245_1227372490_a.jpg",
        "username": "jagajugue"}}, "user_has_liked": false, "likes": {"count": 56},
        "tags": [], "filter": "Normal", "comments": {"count": 12}, "type": "image",
        "link": "https://www.instagram.com/p/BerEs5AllTjio57QeefRpfLMcGe8Nalwv3OBjk0/",
        "location": null, "attribution": null, "users_in_photo": []}, {"id": "1641542915241157831_229766773",
        "user": {"id": "229766773", "full_name": "Diego Marino", "profile_picture":
        "https://scontent.cdninstagram.com/vp/3fb4ff2460ef2db9a8013062429b7100/5B07AA2B/t51.2885-19/11324975_921216657917245_1227372490_a.jpg",
        "username": "jagajugue"}, "images": {"thumbnail": {"width": 150, "height":
        150, "url": "https://scontent.cdninstagram.com/vp/8b8d4cb851e2748ab9b1f5070e5a1cac/5B214DB2/t51.2885-15/s150x150/e35/23164650_153407855[...]
